#player
{
  width: 400px;
}
#buttons
{
  background: #000;
  width: 100%;
  height:30px;
}
#timebar
{
  width: 100%;
  height: 5px;
}
#progress
{
  background: #04c;
  width: 100%;
  height: 5px;
}
video
{
  background: #000;
  width:400px;
  height:300px;
}
